html {
  font-size: 100%; /* 16px */
  height: 100%;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  color: #24292e;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  pointer-events: none;
}

#App {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #home {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(253, 236, 224, 255);
  }

  #home #header {
    max-width: 960px;
    text-align: center;
    padding: 30px 0;
    color: rgb(80, 80, 80);
    background-color: rgba(253, 236, 224, 255);
  }

  #main {
    display: flex;
    align-items: center;
    position: relative;
  }

  #main img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    margin-bottom: -3.5px;
  }

  .menu-nav {
    position: absolute;
    top: 0;
    left: 0;
  }

  #main ul li {
    padding: 15px 15px 3px 20px;
    position: relative;
  }

  #main ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%; /* 初期状態で左に隠す */
    width: 100%;
    height: 2px;
    background-color: #a53342;
    transition: left 0.4s ease-in-out; /* アニメーション設定 */
  }

  #main ul li:hover::before {
    left: 0; /* ホバー時に左から右へ表示 */
  }

  #main ul li a span {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: rgb(80, 80, 80);
    overflow: hidden;
    margin: 0;
    padding: 0;
    white-space: nowrap; /*空白でも改行されない*/
  }

  .footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    background-color: rgba(253, 236, 224, 255);
  }

  .footer .button {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 10px;
    cursor: pointer;
    background-color: #f09d9d69;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgb(172, 172, 172);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  .footer .button:hover {
    width: 240px;
  }

  .footer .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    transition: all 0.3s;
  }

  .footer .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.4s;
  }

  .footer .button:hover .icon i {
    color: #ffffffd2;
    transition: all 0.4s;
  }

  .footer .button:nth-child(2) .icon i {
    padding: 1px 0 0 1px;
  }

  .footer .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin: auto;
    padding-right: 30px;
  }

  .footer .button span a {
    color: #24292e;
  }

  .footer .button .fa-twitter:before {
    content: "𝕏";
    font-family: unset;
    font-weight: bold;
  }

  /* 
  //////
  ここからナビページ/////////////////////////////////////
  //////
  */

  .navi-relative {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("./images/ChineseOldBuilding2Sp2.jpg");
    background-size: cover;
    background-position: center;
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation-name: fadeInOverlay;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fadeInOverlay {
    from {
      opacity: 0;
    }
    to {
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
  }

  .popup {
    display: inline-block;
    position: fixed;
    width: max-content;
    background-color: rgb(255, 170, 170);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation-name: slideInFromTop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slideInFromTop {
    from {
      top: -100px; /* 画面上部の外側から開始 */
      opacity: 0;
    }
    to {
      top: 40px;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  .nextpage {
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
    overflow: hidden;
    /*ボタンの形状*/
    text-decoration: none;
    text-align: center;
    /*アニメーションの指定*/
    transition: 0.2s ease-in-out;
  }

  /*== 背景が流れる（左から右） */
  .nextpage:before {
    content: "";
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*色や形状*/
    background: #333; /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
  }

  /*hoverした際の形状*/
  .nextpage:hover:before {
    transform-origin: left top;
    transform: scale(1, 1);
  }

  .navi-relative p {
    position: absolute;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center; /* 水平方向に中央に配置 */
    align-items: center; /* 垂直方向に中央に配置 */
    color: #c76774;
    font-size: 24px;
  }

  .quiz-quantity {
    position: absolute;
    width: max-content;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }

  .minusbutton-container {
    display: flex;
    flex-direction: column;
  }

  .minusbutton-container span:nth-child(1),
  .minusbutton-container span:nth-child(3) {
    margin-left: 20px;
  }

  .plusbutton-container {
    display: flex;
    flex-direction: column;
  }

  .plusbutton-container span:nth-child(1),
  .plusbutton-container span:nth-child(3) {
    margin-right: 20px;
  }

  .plusbutton-container span:nth-child(2) {
    margin-left: 14px;
  }

  .quiz-quantity input {
    width: 110px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: #831221;
    border: 2px solid#831221;
    border-radius: 3rem;
    margin: 0 20px;
  }

  input[type="number"]:focus {
    border: 2px solid #831221;
  }

  .quiz-quantity span {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    line-height: 3.5rem;
    font-size: 20px;
    color: #fff;
    background: #a53342;
    border-radius: 50px;
    margin: 4px;
    transition: all 0.1s ease-in-out;
  }

  .quiz-quantity span:active {
    transform: translateY(3px);
  }

  .navi-absolute {
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    padding: 0;
  }

  .navbar .button {
    flex-wrap: wrap;
    height: 60px;
    width: 90px;
    margin: 10px auto;
    cursor: pointer;
    color: #2c2c2cd2;
    background-color: #f09d9d69;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgb(172, 172, 172);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  .button.selected {
    width: 250px;
  }

  .button:active {
    transform: translateY(5px);
  }

  .button.selected .icon {
    color: #a12222;
  }

  .navbar .button .icon {
    display: inline-block;
    height: 60px;
    width: 90px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    transition: all 0.4s;
  }

  /* PCのみ
  .navbar .button:hover .icon {
    color: #24292e;
    transition: all 0.7s;
  }
  */

  .navbar .button:nth-child(2) .icon i {
    padding: 1px 0 0 1px;
  }

  .navbar .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin: auto;
    padding-left: 2rem;
  }

  .navbar .button span a {
    color: #24292e;
  }

  .start-button {
    width: 150px;
    height: 60px;
    margin: 10% auto;
    background-color: #a12222;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Flexbox を使用して中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    transition: all 0.3s ease;
  }

  .start-button button {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .start-button:active {
    transform: translateY(3px);
  }

  .back-button {
    height: 30px;
    width: 100%;
    background-color: #c0c0c0;
    display: flex;
    justify-content: right;
  }

  .back-button a {
    font-size: 18px;
    font-weight: 600;
    color: #c53b3b;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  /* PCのみ
  .start-button:hover,
  back-button:hover {
    background-color: #831221;
    transition: 0.9s;
  }
  */

  /*
  .start-button::after,
  .slide-button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #8a2be2;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(-100%);
    animation-name: button_slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
*/
  .slide-bar {
  }

  @keyframes button_slide {
    0% {
      transform: translate(-100%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  /* 
  //////
  ここからクイズ表示ページ/////////////////////////////////////
  //////
  */

  .slide-bar {
  }

  .quiz-page {
    width: 100%;
    height: 100%;
    background-color: #c0c0c0;
  }

  .quiz-wrap {
    width: 100%;
    height: 100%;
  }

  .quiz-content {
    width: 100%;
    height: auto;
  }

  .quiz-content p {
    text-align: center; /* テキストを水平方向に中央に配置 */
    height: 4rem; /* 高さを設定 */
    display: flex; /* Flexboxを使用して中央揃え */
    justify-content: center; /* テキストを水平方向に中央に配置 */
    align-items: center; /* テキストを垂直方向に中央に配置 */
  }

  .quiz-content div {
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .quiz-content div button {
    width: 6rem;
    height: 4rem;
    background-color: #e07785;
    border-radius: 10px;
    transition: 0.5 linear;
  }

  .quiz-content div button:hover {
    background-color: #c76774;
    transition: 0.5s linear;
  }

  .quiz-content a {
    display: flex;
    justify-content: right;
  }

  .quiz-content a button {
    width: 3rem;
    height: 2rem;
    background-color: #ad7cd4;
    border-radius: 15px;
  }

  .quiz-answer {
  }

  .quiz-result-wrap {
  }

  .quiz-result {
  }

  .quiz-result-answer {
  }

  /*
  #quiz-setting {
    height: 100%;
    background-color: #c28d8dbd;
  }

  .number-spinner-wrap input::-webkit-outer-spin-button,
  .number-spinner-wrap input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .number-spinner-input {
    margin: 0;
  }

  .spinner {
  }

  .number-spinner-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .spinner {
    width: 40px;
    height: 40px;
    background-color: #8a2be2;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.2s;
  }

  .spinner:hover {
    background-color: #6a1e9b;
  }

  .check-label-wrap {
    display: flex;
    justify-content: space-around;
  }

  .check-label-wrap div {
  }

  .check-label {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
  }

  .check-noun {
  }

  .check-verb,
  .check-adj {
    margin-top: 50px;
  }

  input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #8a2be2;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: #8a2be2;
    border-color: #8a2be2;
    transition: background-color 0.7s;
  }

  input[type="number"] {
    outline: none;
    outline: solid 3px rgb(188, 156, 214);
    box-shadow: 0px 0px 10px 0px #8366ec;
    margin: 0 auto;
  }

  input[type="number"] {
    width: 60px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px; 
  }
*/
}
